<div class="movie-list-container">
  
  <p class="selected-movie" *ngIf="selectedMovie">
    Película seleccionada: <strong>{{ selectedMovie }}</strong>
  </p>

  <div class="movies-grid">
    <app-movie-item 
      *ngFor="let movie of movies" 
      [movie]="movie"
      (movieSelected)="onMovieSelected($event)"
      (trailerRequested)="openTrailer($event)">
    </app-movie-item>
  </div>

  <!-- Modal de Trailer -->
  <div class="trailer-modal" *ngIf="selectedTrailer" (click)="closeTrailer()">
    <div class="trailer-content" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="closeTrailer()">✕</button>
      <iframe 
        [src]="selectedTrailer | safe" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
